<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>

  <linkassets/css/style.css' | relative_url }}
</head>

<body>

<div class="layout">

  <aside class="sidebar">
    <h3>ITパスポート</h3>

    <ul>
      {% assign pages = site.pages | sort: "title" %}
      {% for p in pages %}
        {% if p.url contains '/kait_ipass/' %}
          <li>
            {{ p.url | relative_url }}
              {{ p.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </aside>

  <main class="content">
    {{ content }}
  </main>

</div>

</body>
</html>
