<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title | escape }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['\\(', '\\)'], ['$', '$']],
        displayMath: [['\\[', '\\]'], ['$$', '$$']]
      },
      svg: { fontCache: 'global' }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
  <div class="layout kait_ipass">
    <aside class="sidebar">
      <h3><a href="https://yamaclass.github.io/kait_ipass/" style="text-decoration: none;">初級IT国家資格取得支援講義</a></h3>
      <div>問題解説</div>

      {% assign menu_pages = site.pages | where_exp: "page", "page.url contains '/kait_ipass/'" | sort: "title" %}

      <ul>
        {% for menu_page in menu_pages %}
        {% if menu_page.title and menu_page.url != '/kait_ipass/' %}
        <li>
          <a href="{{ menu_page.url | relative_url }}">{{ menu_page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </aside>

    <main class="content">
      {{ content }}
      <hr>
      <div style="text-align: right;">神奈川工科大学 初級IT国家資格取得支援講義</div>
    </main>
  </div>
</body>

</html>