<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title | default: site.title }}</title>

  <link relts/css/style.css' | relative_url }}
</head>

<body>
  <div class="layout">

    <aside class="sidebar">
      <h3>ITパスポート</h3>

      {% assign menu_pages = site.pages | sort: "title" %}

      <ul>
        {% for menu_page in menu_pages %}
          {% if menu_page.url contains '/kait_ipass/' and menu_page.title %}
            <li>
              {{ menu_page.url | relative_url }}
                {{ menu_page.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </aside>

    <main class="content">
      {{ content }}
    </main>

  </div>
</body>
</html>
